<%= render 'shared/admin_header', title: 'New Team' %>
<div id='content'>
  <%= render 'form', submit_msg: 'Save Team' %>
  <div id='foot_links'>
    <p><%= link_to 'Cancel', teams_path %></p>
  </div>
</div>
