<%= render 'shared/admin_header', title: 'New Score for ' + @board.title %>
<div id='content'>
  <%= render 'form', url: board_scores_path(@board),
      submit_msg: 'Submit Score' %>
  
  <div id='foot_links'>
    <p><%= link_to 'Cancel', admin_board_path(@board) %>
  </div>
</div>
