<%= render 'shared/admin_header', title: 'New Board' %>
<div id='content'>
  <%= render 'form', submit_msg: 'Create Board' %>
  <div id='foot_links'>
    <p><%= link_to 'Cancel', boards_path %></p>
  </div>
</div>

