<div class="photo_container">
  <div class="photo">
    <%= link_to image_tag(photo.image.url(:preview)),
          photo_path(photo) %>
  </div>
  <div class="photo_foot"><%= photo.caption.text_preview %></div>
</div>
