<%= render 'shared/admin_header', title: 'Create a New Mission' %>
<div id='content'>
  <%= render 'form', submit_msg: 'Create Mission' %>
  <div id='foot_links'>
    <p><%= link_to 'Cancel', missions_path %></p>
  </div>
</div>
